<%- include('includes/head.ejs') %>
<body class="bg-gray-100">
    <%- include('includes/header.ejs') %>
    <hr class="border-gray-200">
    <%- include('includes/navbar.ejs') %>
    <main class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-gray-900">Welcome to Real Estate</h1>
    </main>
    <%- include('includes/end.ejs') %>
</body>