<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    <hr>
    <%- include('includes/navbar.ejs') %>
    
    <main>
        <h1>Welcome to Real Estate</h1>
    </main>

    <!-- Add your footer scripts here -->
    <script src="/assets/js/main.js"></script>
    <%- include('includes/end.ejs') %>
</body>